/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 May, 2017, 8:57:07 PM
    Author     : Bhoopal
*/

.body{
    
}
.table11{
    font-family: arial, sans-serif;
    width: 50%;
    color:white;
    table-layout: fixed;
    
   
}
.td111
{

    font-style: normal;
    font-weight: bold;
   
}
